@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

$primary-font: 'Kumbh Sans', sans-serif;

$font-weights: (
    "regular": 400,
    "bold": 700
);

$colors: (
    // Primary (Text)
    "very-dark-saturated-blue": hsl(238, 29%, 16%),
    "soft-red": hsl(14, 88%, 65%),

    // Background gradient
    "soft-violet": hsl(273, 75%, 66%),
    "soft-blue": hsl(240, 73%, 65%),

    // Neutral
    "very-datk-grayish-blue": hsl(237, 12%, 33%),
    "dark-grayish-blue": hsl(240, 6%, 50%),

    // Dividers
    "light-grayish-blue": hsl(240, 5%, 91%)
);

*,
*::before,
*::after {
    box-sizing: border-box;
}

@function getFontWeight($weight) {
    @return map-get($map: $font-weights, $key: $weight);
}

@function getColor($color) {
    @return map-get($map: $colors, $key: $color);
}

@mixin media-760 {
    @media (min-width: 760px) {
        @content;
    }
}

@mixin media-900 {
    @media (min-width: 900px) {
        @content;
    }
}

@mixin media-1000 {
    @media (min-width: 1000px) {
        @content;
    }
}