@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    /* Primary (Text) */
    --very-dark-saturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);

    /* Background gradient */
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);

    /* Neutral */
    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);

    /* Dividers */
    --light-grayish-blue: hsl(240, 5%, 91%);
}

body {
    padding: 11em 0;
    margin: 0;

    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    font-size: .875rem;
    color: var(--very-dark-saturated-blue);

    background-image: linear-gradient(to top, var(--soft-blue), var(--soft-violet));
    background-repeat: no-repeat;
}

h1,
p {
    margin: 0%;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    width: 87%;
    margin: 0 auto;
    max-width: 650px;
}

main {
    position: relative;
}

.accordion {
    background-color: white;
    box-shadow: 0 10px 50px hsl(259, 39%, 30%);
    
    border-radius: 19px;
    /* margin: 11em auto; */
    padding: 3.6em 0;
    position: relative;
}

/*
    Mobile svg image not perfectly centered to begin with, 
    so I had to work some magic to make it look the 
    way the design intended.

    Desktop background image not aligned properly either 
    which forced me to use some means I wish I could avoid.
    I don't have the figma files (I'm on free version), so 
    these are some sacrifices I have to make. 
*/

.accordion__image {
    position: absolute;
    top: -19%;
    right: 0;
    left: 0;

    margin: 0 auto;
}

.accordion__image-shadow {
    position: absolute;
    top: 0%;
    right: 0;
    left: 0;

    margin: 0 auto;
}

.illustration-box {
    display: none;
}

.accordion__title {
    font-size: 2.1rem;
    font-weight: 700;
    letter-spacing: -1px;
    margin: 2.5em 0 .5em 0;
    text-align: center;
}

.accordion__option {
    display: flex;
    flex-wrap: wrap;
    gap: .6em 1.7em;
    justify-content: space-between;
    align-items: center;
    
    font-family: inherit;
    background-color: inherit;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--light-grayish-blue);

    cursor: pointer;
    padding: 1.1em 0;
}

.accordion__option:hover {
    color: var(--soft-red);
}

.accordion__answer {
    display: none;
    font-size: .8rem;
    color: var(--dark-grayish-blue);
    line-height: 1.5;
    text-align: left;
}

.accordion__option.open {
    font-weight: 700;
}

.accordion__option.open img {
    transform: rotate(180deg);
}

.accordion__option.open .accordion__answer {
    display: block;
    font-weight: initial;
}

@media (min-width: 760px) {
    body {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 900px) {
    .row {
        display: flex;
    }

    .container {
        max-width: 950px;
    }

    .accordion {
        position: relative;
        padding: 6em 0;
        background-image: url('./images/bg-pattern-desktop.svg'), url('./images/illustration-woman-online-desktop.svg');
        background-repeat: no-repeat;
        background-position: 330% 60%,-30% 50%;
    }

    .accordion__image-container {
        width: 50%;
    }

    .accordion__title {
        text-align: left;
        margin: 0 0 .5em 0;
    }

    .accordion__options {
        width: 50%;
    }

    .accordion__image {
        margin: 0;
        position: absolute;
        top: 15%;
        left: -10%;
        clip-path: inset(0 0 0 15%);
        display: none;
    }    

    .accordion__image-shadow {
        position: absolute;
        top: -60%;
        right: 0%;
        left: 0;
        display: none;
    }

    .illustration-box {
        position: absolute;
        display: block;
        left: -12%;
        top: 46%;   
    }
}

@media (min-width: 1000px) {
    .accordion {
        background-position: 3700% 70%, -20% 50%;
    }

    .illustration-box {
        left: -10.5%;
        top: 42%;   
    }
}
